<form>
    <input>
</form>
<div class="icon-container">
     <span class="icon-name"> <a (click)="getUserLoc(); saveUserLoc()">Find My Location</a></span>
     <span class="ti-location-pin"></span>

</div>
<br>
<br>

<button (click)="getMatches()">Near Me</button>

<br>
<br>

<!-- <div *ngIf="matchedUsers">
    <ul  *ngFor="let user of matchedUsers" >
        <li> -->
            <!-- <a href="https://open.spotify.com/user/{{ user.id }}"></a> -->
                <!-- {{ user.user }}</li>
    </ul>
</div> -->

<div *ngIf="city">
    <p>Location: {{ city }}, {{ state }}</p>
</div>
