<div *ngIf="user && tracks">
<h1>Hi {{ user?.display_name }}</h1>

<button (click)="logOut()">Log Out</button>

<br>
<br>

<button (click)="getUserLoc()">Find My Location</button>

<br>
<br>

<button *ngIf="city" (click)="usersNearMe()">Near Me</button>

<br>
<br>

<div *ngIf="matchedUsers">
    <ul  *ngFor="let user of matchedUsers" >
        <li><a href="https://open.spotify.com/user/{{ user.id }}">{{ user.display_name }}</a></li>
    </ul>
</div>

<div *ngIf="city; else loading">
    <p>Location: {{ city }}, {{ state }}</p>
</div>

<ng-template #loading>
    <img style="width: 75px" src="https://s-media-cache-ak0.pinimg.com/originals/c7/2d/11/c72d11a3d65ca0231b338984bc59e89d.gif">
</ng-template>


<div *ngIf="tracks">
<ul *ngFor="let track of tracks">
    <li>{{ track.track.artists[0].name }}</li>
</ul>
<div>
</div>
