
<div class="container-fluid">
    <div class="row">
        <div style="margin-top: 40px;" class="col-md-offset-3 col-md-6">
            <div class="card">
                <div class="hi">
                    <h4 style="text-align:center;">Hey There.<br> Here are some Recently Played Artists</h4>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="https://pbs.twimg.com/profile_images/753981263292137472/fgTaNSC6.jpg">
                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Alabama Shakes</h4>
                        <small>Alabama Shakes is a blues rock band from USA formed in Athens, Alabama in 2009.
                            The band currently consists of lead singer and guitarist Brittany Howard, guitarist
                            Heath Fogg, bassist Zac Cockrell, and drummer Steve Johnson.
                        </small>
                    </div>
                </div>
        </div>

        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="http://pitchfork.com/features/cover-story/reader/daft-punk/images/s5-0v2.jpg">                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Daft Punk</h4>
                        <small>Daft Punk are a French electronic music duo formed in 1993 by Guy-Manuel de Homem-Christo and Thomas Bangalter.
                        </small>
                    </div>
                </div>
        </div>
        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="https://bandcampblog.files.wordpress.com/2016/07/japanesebreakfast-600-30.jpg">                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Japanese Breakfast</h4>
                        <small>Japanese Breakfast is the solo musical project of Michelle Zauner of Little Big League. Under the alias, Zauner has released two studio albums: Psychopomp (2016) and Soft Sounds from Another Planet (2017).
                        </small>
                    </div>
                </div>
        </div>
    </div>
</div>
