.container-fluid {
    background-color: #f4f3ef
}

.loading {
    background-color: #189cc6;
}

.userName {
    text-align: center;
    width: 100%;
}

.userName h3 {
    color: #189cc6;
    text-align: center;
    width: 90%;
    margin: auto;
}

.navbar-brand {
    text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h5 {
    color: 	#0E1717;
    font-weight: 700;
}

.locateMe {
    margin-top: 250px;
}

.header {
    height: 230px;
    overflow: hidden;
}

.hi {
    padding: 10px;
}

.card {
    margin-top: 75px;
}
