
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="content">
                    <div class="author">
                      <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>

                      <h4 *ngIf="!user.display_name" class="title">{{user.id}}<br />
                         <a href="https://open.spotify.com/user/{{user.id}}"><small>@{{user.id}}</small></a>
                     </h4>
                     <div *ngIf="user.display_name !== null">
                         <h4 class="title">{{user.display_name}}<br/>
                            <a href="https://open.spotify.com/user/{{user.id}}"><small>@{{user.id}}</small></a>
                         </h4>
                     </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>12<br /><small>Playlists</small></h5>

                            </div>
                            <div class="col-md-4">
                               <h5><br /><small>Friends</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>{{tracks?.length}}<br /><small>Artists Liked</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header" style="height: auto;">
                <h4 class="title">Friends</h4>
                <small>Chat with friends to share music or link up to go to concerts.</small><br>
                <button class="btn friendsbtn" (click)="getFriends(user.email)"> Click to Show Friends</button>

            </div>

            <div *ngIf="friends" class="content">
                <ul *ngFor="let user of friends" class="list-unstyled team-members">
                    <li>
                        <div class="row">
                            <div *ngIf="user.images.length == 0" class="col-xs-3">
                                <div  class="avatar">
                                    <img src="assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                            <div *ngIf="user.images.length > 0" class="col-xs-3">
                                <div class="avatar">
                                    <img src="{{user.images[0].url}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                </div>
                            </div>
                            <div *ngIf="!user.display_name" class="col-xs-6">
                                <p>{{user.id}}</p>
                            </div>
                            <div *ngIf=" user.display_name" class="col-xs-6">
                                <p>{{user.display_name}}</p>

                                <!-- <span class="text-bold"><small>Percentage Matched:</small> {{ user.percentage }}</span> -->
                            </div>

                            <div class="col-xs-3 text-right">
                                <button  class="btn btn-sm btn-success btn-icon"><i class="fa fa-comments"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <!-- <div class="row">
        <div style="margin-top: 40px;" class="col-md-offset-3 col-md-6">
            <div class="card">
                <div class="hi">
                    <h4 style="text-align:center;">Hey There.<br> Here are some Recently Played Artists</h4>
                </div>
                <div class="content">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="https://pbs.twimg.com/profile_images/753981263292137472/fgTaNSC6.jpg">
                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Alabama Shakes</h4>
                        <small>Alabama Shakes is a blues rock band from USA formed in Athens, Alabama in 2009.
                            The band currently consists of lead singer and guitarist Brittany Howard, guitarist
                            Heath Fogg, bassist Zac Cockrell, and drummer Steve Johnson.
                        </small>
                    </div>
                </div>
        </div>

        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="http://pitchfork.com/features/cover-story/reader/daft-punk/images/s5-0v2.jpg">                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Daft Punk</h4>
                        <small>Daft Punk are a French electronic music duo formed in 1993 by Guy-Manuel de Homem-Christo and Thomas Bangalter.
                        </small>
                    </div>
                </div>
        </div>
        <div style="margin-top: 40px;" class="col-md-4">
                <div class="card">
                    <div class="header">
                        <img style="width: 100%;" src="https://bandcampblog.files.wordpress.com/2016/07/japanesebreakfast-600-30.jpg">                    </div>
                    <div class="content">
                        <h4 style="margin: 0 0 5px 0;">Japanese Breakfast</h4>
                        <small>Japanese Breakfast is the solo musical project of Michelle Zauner of Little Big League. Under the alias, Zauner has released two studio albums: Psychopomp (2016) and Soft Sounds from Another Planet (2017).
                        </small>
                    </div>
                </div>
        </div>
    </div> -->
</div>
