
<div class="gif">
    <h1>SpotiFriend</h1>
    <div class="login-form">
        <form>
            <h3>Find friends with similar music tastes!</h3>
            <input class="form-control border-input" placeholder="Name">
            <input class="form-control border-input" placeholder="Email">
            <div class="loginbtn">
                <button class="btn btn-info btn-fill" (click)="getLoginString()">LOGIN</button>
            </div>
        </form>

    </div>
    <div class="disclaim">
        <p>(Disclaimer: To Use Application, you must have an account for Spotify.)</p>
    </div>
    <div class="image-block">
        <img src="/assets/img/walking.gif">
    </div>

</div>
